.formArea {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.contactText {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
  margin-top: 16px;
  margin-bottom: 8px;
}

.footerContact {
  position: absolute;
  bottom: 0;
}
