footer {
  width: 100%;
  padding: 40px 0;
  background-color: #d9efff;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.githubIcon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  cursor: pointer;
}
