@media screen and (min-width: 768px) and (max-width: 1024px) {
  .navBox {
    justify-content: center;
  }

  .title,
  .area {
    padding: 0;
  }

  .topMainArea,
  .topAboutMain {
    display: block;
  }
  .topMain {
    width: 80%;
    margin-top: 0;
  }

  .topMain-text {
    margin: 80px 0px;
    font-size: 55px;
  }

  .topAbout-txt {
    width: 90%;
    margin: auto;
  }

  footer {
    min-width: 100vw;
  }

  .footerArea {
    min-width: 100vw;
  }
}

/* スマホ対応 */
@media (max-width: 767px) {
  .header {
    padding-top: 10px;
  }

  .title,
  .area {
    padding: 0;
  }

  .navBox {
    display: none;
  }

  .topMainArea,
  .topAboutMain,
  .topSkillMain {
    display: block;
  }
  .topMain {
    width: 300px;
  }
  .topMain-text {
    margin: 0;
    font-size: 38px;
    text-align: center;
  }

  .topAbout-txt {
    width: 70%;
    margin: auto;
  }

  .topAbout-icon {
    width: 200px;
    height: 200px;
    margin-left: 72px;
  }

  .iconImg {
    width: 160px;
    height: 160px;
  }

  .ProductImg {
    width: 220px;
  }

  .contact-txt {
    font-size: 15px;
  }

  footer {
    width: 100vw;
  }
}
