@media (min-width: 601px) {
}

/* スマホ対応 */
@media (max-width: 480px) {
  .header {
    padding-top: 10px;
  }

  .area {
    padding: 0;
  }

  .navBox {
    display: none;
  }

  .topMainArea,
  .topAboutMain,
  .topSkillMain {
    display: block;
  }
  .topMain {
    width: 300px;
  }
  .topMain-text {
    margin: 0;
    font-size: 38px;
    text-align: center;
  }
  .title {
    padding: 0;
  }
  .topAbout-txt {
    width: 263px;
    margin-left: 21px;
  }
  .topAbout-icon {
    width: 200px;
    height: 200px;
    margin-left: 72px;
  }
  .iconImg {
    width: 160px;
    height: 160px;
  }
  .ProductImg {
    width: 220px;
  }
  .contact-txt {
    font-size: 15px;
  }
}
