.topAbout-icon {
  width: 274px;
  height: 262px;
  margin-left: 50px;
  margin-right: 85px;
  border-radius: 50%;
}

.topAbout-txt {
  max-width: 560px;
  padding: 60px;
  background-color: #bde3ff;
  font-size: 20px;
  text-align: left;
  white-space: pre-line;
}

.topAbout-viewMore {
  text-align: right;
}

.link {
  display: inline-block;
  font-size: 24px;
  padding: 10px 60px;
  cursor: pointer;
}

.link:hover {
  color: white;
}
