.topContactArea {
  justify-content: center;
}

.contact-txt {
  margin-top: 45px;
  font-size: 20px;
}

.contact {
  margin-top: 70px;
  margin-bottom: 120px;
}

.titleArea {
  margin-bottom: 70px;
}
