.topProductArea {
  justify-content: center;
}

.topProductList {
  margin: 0;
}

.ProductImg {
  position: relative;
  width: 340px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1;
}

.ProductName {
  font-size: 18px;
  margin-bottom: 60px;
}

.ProductImg:hover {
  opacity: 0.8;
}
