.App {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  margin: 0px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0.4rem;
  padding-top: 100px;
}

body {
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  line-height: 1.9;
}

.area {
  display: flex;
  padding: 0 1.5rem;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 70px;
}
